### Files ignored by git ###

.idea
.vs
debug/*
release/*
.DS_Store
.creator
.creator.*
.config
.files
.includes
._*
*.swp

__pycache__
dist
build
*.so
*.egg-info
.eggs
main.py

.ipynb_checkpoints

_trial_temp*

.qmake.stash
